# DB_HOST="localhost"
DB_HOST="host.docker.internal"
DB_PORT=5432
DB_USERNAME="postgres"
DB_PASSWORD="KHALLASLI123**"
DB_DATABASE="voucher-service"
PORT=4001
PORT_TCP=5001
KEY="uisfkskjebcio"
IV="8d2f3b6c1e5a9c8f6e3d2a7b1f4c6d8e"

GATEWAY_PORT=5000
GATEWAY_HOST="localhost"